<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <br><br>
      <h2 style="color:#0fad00">Success</h2>
      <img src="http://osmhotels.com//assets/check-true.jpg">
      <h3>Dear,</h3>
      <p style="font-size:20px;color:#5C5C5C;">Thank you for verifying your Account. You can use created account
        and&nbsp;<strong>Please login</strong>.</p>
      <a [routerLink]="['/login']" class="btn btn-success btn-primary">     Log in     </a>
      <br><br>
    </div>

  </div>
</div>